h1 {color: hsl(10, 83%, 46%);
    font-size:32px;}
.colore1 {color: hsl(0, 0%, 0%);
    text-align: justify;
    line-height: 1.5;
    font-size:10px;}
body{background-color: rgb(240, 235, 78);}
img {height: 35px;}